* {
    font-family: "Iceland", sans-serif;
    font-style: normal;
    color: var(--contrast);
}

h1 {
    font-size: 50px;
    font-weight: 250;
}

h2 {
    font-size: 30px;
    font-weight: 100;
}

form {
    background-color: rgba(0,0,0,0.5);
    border: 1px rgba(0,0,0,1) solid;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

input {
    height: 20px;
    width: 90%;
    color: #000;
}

button {
    height: 20px;
    background: linear-gradient(to bottom right, var(--accent1), var(--accent2));
    color: #000;
    padding: 0 30px;
    border: 0px;
}

button:active {
    filter: brightness(0.9);
}