h1 {
    position: fixed;
    left: 50%;
    top: 50px;
    translate: -50% -50%;
}

#login-form {
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    padding: 10px;
}

form input, button{
    display: block;
}

h2 {
    margin: 0 50px 20px 50px;
}

input {
    margin: 20px 10px;
}

button {
    position: relative;
    left: 50%;
    translate: -50%;
}